.main::-webkit-scrollbar{
    display: none;
}

.particles{
    position: fixed;
    z-index: -10;
}

@media only screen and (max-width: 870px) {
    .cards{
        min-width: auto;
    }

    .aboutFounders{
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {

}