.homeTitle{
    margin-bottom: 3rem;
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.home{
    width:100%;
    display:flex;
    align-items:center;
    height:100vh;
}

.homeSub{
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 80%;
    text-align: center;
}

@media only screen and (max-width: 870px) {
    .homeTitle{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .homeSub{
        font-size: 1.5rem;
    }

    .homeMain{
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .homeTitle{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .homeSub{
        font-size: 1rem;
    }
}