.navbar{
    padding:1.5rem;
    display:flex;
    align-items: center;
    width:calc(100% - 3rem);
    flex-direction:row;
    justify-content:space-between;
    position: fixed;
    top: 0px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 20;
}

.navbarTitle{
    font-size:1.7rem;
    letter-spacing:0.2rem;
}


@media only screen and (max-width: 600px) {
    .navbar{
        padding: 1rem;
        width:calc(100% - 1rem);
        border-bottom: 1px solid rgba(255,255,255,0.1);
        background: rgba(235, 235, 235, 0.1);
    }
    
    .navbarButton{
        margin-right: 20px;
    }
    
    .navbarTitle{
        font-size: 1rem;
    }
}