.portfolioTitle{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
}

.portfolioSub{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    width: 80%;
    margin-bottom: 2rem;
}

.portfolioReferenceContainer{
    background-color:rgb(235,235,235,0.1);
    line-height:1.75rem;
    letter-spacing:0.075rem;
    border-width:0.05rem;
    border-style:solid;
    width:80%;
    border-radius:10px;
    margin-bottom:3rem;
    margin-top:3rem;
    box-shadow:0px 0px 30px 5px rgb(255,255,255,0.32);
    padding: 2rem;
    margin-left: 6.5rem;
    display: flex;
    align-items: center;
}

.portfolioCard{
    margin-bottom: 7rem;
    padding: 2rem;
    background-color: rgb(235,235,235,0.1);
    line-height: 1.75rem;
    letter-spacing: 0.075rem;
    border-width: 0.01rem;
    border-style: solid;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px rgb(255,255,255,0.32);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.portfolioReferences{
    width: 80vw;
    max-width: 1000px;
}

.portfolioImage{
    max-width: 220px;
    max-height: 300px;
    border-radius: 0.5rem;
    margin-right: 2rem;
    display: block;
}

.portfolioLine{
    margin-left: 2rem;
}

@media only screen and (max-width: 600px){
    .portfolioImage{
        display: none;
    }
}

@media only screen and (max-width: 870px) {
    .portfolioClients{
        flex-direction: column;
    }

    .logos{
        flex-wrap: wrap;
        padding-left: 3rem;    
    }

    .logo{
        margin-right: 3rem;
        margin-top: 3rem;
    }

    .portfolioCard{
        padding: 1rem;
        box-shadow: none;
    }

    .portfolioLine{
        display: none;
    }

    .portfolioTitle{
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .portfolioSub{
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .portfolioReferences{
        flex-direction: column;
    }

    .portfolioImage{
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .portfolioReferenceContainer{
        flex-direction: column ;
        margin-left: 0;
        font-size: 0.75rem;
        padding: 0.75rem;
        width: 100%;
        box-shadow: none;
    }
}