.servicesTitle{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.servicesSub{
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 80%;
}

.servicesSticky{
    position: sticky;
    top:4rem;
    margin-right:2rem;
    height:calc(100vh - 4rem);
}

@media only screen and (max-width: 870px) {
    .servicesTitle{
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }

    .servicesSub{
        font-size: 1.25rem;
    }

    .parallaxTextContainer{
        display: none;
    }

    .servicesSticky{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .subcardContainer {
        flex-direction: column;
    }
    
    .subCard{
        padding-top: 0;
    }
}

.parallaxText1{
    text-decoration:none; 
    color:transparent;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:rgb(200,200,200,0.8);
    transition: all 0.5s;
    margin-right: 1rem;
}

.parallaxText2{
    text-decoration:none; 
    color:rgb(200,200,200,0.8);
    transition: all 0.5s;
    margin-right: 1rem;
}

.parallaxText1:hover{
    -webkit-text-stroke-color: white;
}

.parallaxText2:hover{
    color:rgb(235,235,235);
}

.parallaxTextContainer{
    height:'100vh';
    display:'flex';
    flex-direction:column;
    justify-content:center;
    width:100%;
    font-size:3rem;
    margin-bottom:10rem;
}
