.servicesTitle{
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: siteFontBold;
}

.servicesMain{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-left: -120px;
}

.servicesSub{
    font-size: 1.25rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    height: 300px;
}

.servicesUpper{
    width: 80%;
}

.servicesSticky{
    position: sticky;
    top:4rem;
    margin-right:2rem;
    height:calc(100vh - 4rem);
}

.cardTitle{
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-family: siteFontBold;
}

.subCardTitle{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: siteFontBold;
}

.card{
    padding: 2rem;
    height: 600px;
}

.subCard{
    padding: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.075rem;
    font-size: 1.2rem;
    width: 300px;
}

.logo{
    height: 80px;
}

@media only screen and (max-width: 600px){
    .cardTitle{
        font-size: 2rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
        padding-bottom: 1rem;
        border-bottom: solid rgb(235,235,235, 0.2) 1px;
    }

    .subCardTitle{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card{
        padding: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .subCard{
        margin-left: 0;
        margin-right: 0;
        padding-left: 1rem;
        padding-right: 0;
        padding-bottom: 0;
        line-height: 1.5rem;
        margin-bottom: 3rem;
        border-left: solid rgb(235,235,235, 0.15) 2px;
        width: auto;
    }

    .subCardText{
        font-size: 0.8rem;
        text-align: justify;
    }

    .servicesTitle{
        text-align: start;
    }

    .servicesSub{
        width: 95%;
        line-height: 1.75rem;
        letter-spacing: normal;
        text-align: start;
        font-size: 0.9rem;
    }

    .logo{
        height: 40px;
    }
}

.servicesMobile{
    display: none;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
    background-color: rgb(35,35,35, 0.6);
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 0.7rem;
}

.servicesMobileButton{
    transition: all 0.3s;
    border: 1px solid white;
    padding: 0.6rem;
    border-radius: 30px;
}

.portfolioLine{
    margin-left: 2rem;
}

@media only screen and (max-width: 870px) {
    .portfolioClients{
        flex-direction: column;
    }

    .portfolioLine{
        display: none;
    }

    .logos{
        flex-wrap: wrap;
        padding-left: 3rem;
    }

    .servicesTitle{
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }

    .parallaxTextContainer{
        display: none;
    }

    .servicesSticky{
        display: none;
    }

    .servicesMobile{
        display: flex;
    }
    
    .services{
        margin-left: 0;
    }

    .servicesSub{
        height: fit-content;
    }

    .logo{
        margin-right: 3rem;
        margin-top: 3rem;
    }

    .card{
        height: fit-content;
    }

    .servicesMain{
        margin-left: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .subcardContainer {
        flex-direction: column;
    }
    
    .subCard{
        padding-top: 0;
    }
}

.parallaxText1{
    text-decoration:none; 
    color:transparent;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:rgb(200,200,200,0.8);
    transition: all 0.5s;
    margin-right: 1rem;
}

.parallaxText2{
    text-decoration:none; 
    color:rgb(200,200,200,0.8);
    transition: all 0.5s;
    margin-right: 1rem;
}

.parallaxText1:hover{
    -webkit-text-stroke-color: white;
}

.parallaxText2:hover{
    color:rgb(235,235,235);
}

.parallaxTextContainer{
    height:'100vh';
    display:'flex';
    flex-direction:column;
    justify-content:center;
    width:100%;
    font-size:3rem;
    margin-bottom:10rem;
}
