.wireHome{
    width: 7px;
    background: linear-gradient(black, blueviolet, blueviolet, black);
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wireHomeContainer{
    align-self: flex-end;
    margin-left: 3rem;
    height: 55%;
    color: blueviolet;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wireServicesContainer{
    margin-left: 3rem;
    height: auto;
    color: blueviolet;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}