.wireHome{
    width: 5px;
    background: linear-gradient(transparent, blueviolet, blueviolet, transparent);
    margin-left: 0.5px;
}

.wireHomeContainer{
    align-self: flex-end;
    margin-left: 3rem;
    height: 90%;
    color: blueviolet;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wireServicesContainer{
    margin-left: 3rem;
    color: blueviolet;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width:870px) {
    .wireHomeContainer{
        display: none;
    }

    .wireServicesContainer{
        display: none;
    }
}