body {
  margin: 0;
  font-family: 'Comfortaa', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: 'rgb(235,235,235)';
  --black: 'rgb(20,20,20)';
  --grey: 'rgb(100,100,100)';
  --primary: 'red';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
